
:root {
    --primary-color:color: #434455;
    color: #2E2F42;
   color: #4D5AE5;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;

}

body {
    
}
.list {list-style: none;}

.link {
    text-decoration: none ;
}
/* --------------HEADER---------------*/
.header {
     background: #FFFFFF;

}
    
       
.header-navigation {}

.logo-main { 
        width: 44px;
        height: 24px;
    
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 12px;
        line-height: 1.3;
    
        /* identical to box height, or 133% */
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        /* IRIS */
        color: #4D5AE5;  
       
}
.studio-logo {color: #2E2F42;}


.header-list {}

.header-link {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.3;
    
        letter-spacing: 0.02em;
    
        color: #2E2F42;
        width: 66px;
         height: 24px;
}

.header-link {}

.link {

   color: #434455;

}

.header-email {color: #434455;
    
}

.header-tel { color: #434455;
  
       
}

/*------------HERO-------------*/

.hero { background-color: #2E2F42; 
        width: 1440px;
        height: 603px;
        left: 0px;
        top: 72px;
}



.solution {
    
        width: 492px;
        height: 120px;
        left: 474px;
        top: 264px;
    
        /* Header 1 */
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 56px;
        line-height: 60px;
    
        /* or 107% */
        text-align: center;
        letter-spacing: 0.02em;
    
        color: #FFFFFF;
}

.hero-strategy {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.3;
    
        /* identical to box height, or 120% */
        letter-spacing: 0.02em;
    
        /* NAVY BLUE */
        color: #2E2F42;


}
.hero-pre-title {
width: 264px;
height: 72px;

/* Body */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

/* or 150% */
letter-spacing: 0.02em;

/* SLATE */
color: #434455;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;}

.hero-title {
font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    /* identical to box height, or 120% */
    letter-spacing: 0.02em;

    /* NAVY BLUE */
    color: #2E2F42;
}

.main-button {
font-family: 'Roboto';
font-weight: 600;
font-size: 12px;
line-height: 1.33;

/* identical to box height */
display: flex;
align-items: center;
letter-spacing: 0.04em;

color: #FFFFFF;
cursor: pointer;}


.button :hover {
    color: #4D5AE5;
    
        cursor: pointer;
    }
     

.button-list :focus {
    color: #4D5AE5;
}





  /*-------What are we doing--------*/
  
  .explination-list {
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;

    /* identical to box height, or 111% */
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: #2E2F42;

 }




.main-button {
    background: #4D5AE5;
   
cursor: pointer;}

.button-list :hover {
   color:#4D5AE5; 
}


.button-list :focus {
   color:#4D5AE5; }

   .button-list {
    color: #FFFFFF;
cursor: pointer;}
   
.team {

    background: #F4F4FD;

}
.team-title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
    
  
    
        /* NAVY BLUE */
        color: #2E2F42;
}
.team-pre-title {

font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

 

    /* SLATE */
    color: #434455;
}

.footer {
    background: #2E2F42;
}
.end-word {
    /* Body */
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.3;
    
        /* or 150% */
        letter-spacing: 0.02em;
    
        /* CORNFLOWER */
        color: #E7E9FC;
        
}

.footer-logo {

    width: 44px;
    height: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 1.3;

    /* identical to box height, or 133% */
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    /* IRIS */
    color: #4D5AE5;
}

.logo-footer {
    color: #F4F4FD;
}
