
:root {
    --primary-color:color: #2E2F42;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;

}

body {
    background-color: grey;
}
.list {list-style: none;}

.link {
    text-decoration: none ;
}
/* --------------HEADER---------------*/
.header {}

.header-navigation {}

.logo-link {

font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 12px;
line-height: 1.33;

/* identical to box height, or 133% */
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;

/* IRIS */
color: #4D5AE5;}

.studio: {color: #2E2F42; }




.header-list {}

.header-item {}

.header-link {}

.heater-contact-info {}

.header-email {}

.header-tel {}

/*------------HERO-------------*/

.hero {}

.main-button {
font-family: 'Roboto';
font-weight: 600;
font-size: 12px;
line-height: 1.33;

/* identical to box height */
display: flex;
align-items: center;
letter-spacing: 0.04em;

color: #FFFFFF;
cursor: pointer;}

.hero-strategy {}

.hero-title {}

.hero-pre-title {}


  /*-------What are we doing--------*/
  
  .explination-list {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;

/* identical to box height, or 111% */
text-align: center;
letter-spacing: 0.02em;  
color: #2E2F42;

 }

















.button-list {
    color: #FFFFFF;
cursor: pointer;}

.button-list :hover {
   color:#4D5AE5; 
}


.button-list :focus {
   color:#4D5AE5; }

   .button-list {
    color: #FFFFFF;
cursor: pointer;}
   